/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'condlight';
  src: url("fonts/plutosanscondlight-webfont.eot");
  src: url("fonts/plutosanscondlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/plutosanscondlight-webfont.woff") format("woff"), url("fonts/plutosanscondlight-webfont.ttf") format("truetype"), url("fonts/plutosanscondlight-webfont.svg#pluto_sanscond_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url("fonts/plutosansmedium-webfont.eot");
  src: url("fonts/plutosansmedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/plutosansmedium-webfont.woff") format("woff"), url("fonts/plutosansmedium-webfont.ttf") format("truetype"), url("fonts/plutosansmedium-webfont.svg#pluto_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 10, ../sass/screen.scss */
html, body, .container {
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/screen.scss */
body {
  color: white;
}

/* line 21, ../sass/screen.scss */
h1, h2, #btndiscover, #btnview, #btnnew {
  display: block;
}

/* line 26, ../sass/screen.scss */
h1, #btndiscover, hgroup, #centerparagraph, #btnview, #btnnew {
  margin: 0 auto;
}

/* line 31, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 37, ../sass/screen.scss */
h2, #btndiscover, #centerparagraph, #btnview, #btnnew {
  text-align: center;
}

/* line 42, ../sass/screen.scss */
#btndiscover, h1, #church, #tower, #btnview, #btnnew {
  background-repeat: no-repeat;
}

/* line 47, ../sass/screen.scss */
.invisible {
  display: none;
}

/* line 52, ../sass/screen.scss */
body {
  font-size: 62.5%;
  font-family: 'condlight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #abddc4;
}

/* line 59, ../sass/screen.scss */
#wrapper {
  width: 100%;
}

/* line 64, ../sass/screen.scss */
.container {
  position: relative;
  min-height: 100%;
}

/* line 70, ../sass/screen.scss */
.corner {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 3px solid white;
}

/* line 78, ../sass/screen.scss */
.topleft {
  left: 10px;
  top: 10px;
}

/* line 84, ../sass/screen.scss */
.topright {
  right: 10px;
  top: 10px;
}

/* line 90, ../sass/screen.scss */
.bottomleft {
  bottom: 10px;
  left: 10px;
}

/* line 96, ../sass/screen.scss */
.bottomright {
  right: 10px;
  bottom: 10px;
}

/* line 102, ../sass/screen.scss */
.frame {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  position: absolute;
  padding: 10px;
  border: 3px solid white;
}

/* line 113, ../sass/screen.scss */
#church {
  bottom: 25px;
  left: 10%;
  position: absolute;
  width: 214px;
  height: 461px;
  background-image: url("../images/church.png");
}

/* line 123, ../sass/screen.scss */
#tower {
  right: 10%;
  bottom: 25px;
  position: absolute;
  width: 144px;
  height: 444px;
  background-image: url("../images/tower.png");
}

/* line 133, ../sass/screen.scss */
#btngarden, #btnmap {
  font-family: "medium";
  position: absolute;
  left: 85px;
  top: 85px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.8em;
}

/* line 144, ../sass/screen.scss */
#headerhome {
  padding-top: 175px;
  margin-bottom: 75px;
}
/* line 149, ../sass/screen.scss */
#headerhome hgroup {
  width: 80%;
}
/* line 153, ../sass/screen.scss */
#headerhome hgroup h1 {
  width: 135px;
  height: 194px;
  background-image: url("../images/logo.png");
  margin-bottom: 25px;
}
/* line 161, ../sass/screen.scss */
#headerhome hgroup h2 {
  font-size: 3em;
  line-height: 1.4em;
  letter-spacing: 0.05em;
}

/* line 170, ../sass/screen.scss */
#centerparagraph {
  width: 80%;
  font-family: "condlight";
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

/* line 180, ../sass/screen.scss */
#btndiscover, #btnview, #btnnew {
  font-family: "medium";
  background-image: url("../images/btnframe.png");
  width: 269px;
  height: 60px;
  padding-top: 22px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 192, ../sass/screen.scss */
#headermap {
  background-image: url("../images/hands.png");
  width: 139px;
  height: 143px;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* line 202, ../sass/screen.scss */
#zentrijk {
  width: 100%;
  height: 100%;
  background-color: #9fd0b8;
}
/* line 208, ../sass/screen.scss */
#zentrijk header {
  padding-top: 55px;
}
/* line 212, ../sass/screen.scss */
#zentrijk header h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

/* line 222, ../sass/screen.scss */
#mapbox {
  position: absolute;
  left: 55px;
  right: 55px;
  bottom: 55px;
  top: 355px;
}

/* line 233, ../sass/screen.scss */
#gridchoice a {
  float: left;
}

/* line 239, ../sass/screen.scss */
#btnview {
  margin-right: 15px;
}

/* line 244, ../sass/screen.scss */
.clear {
  clear: both;
}

@media screen and (max-width: 850px) {
  /* line 251, ../sass/screen.scss */
  #church, #tower {
    display: none;
  }
}
@media screen and (max-height: 460px) {
  /* line 259, ../sass/screen.scss */
  #headerhome {
    padding-top: 50px;
    margin-bottom: 25px;
  }
  /* line 264, ../sass/screen.scss */
  #headerhome h1 {
    width: 68px !important;
    height: 97px !important;
    background-image: url("../images/logomobile.png") !important;
  }
  /* line 271, ../sass/screen.scss */
  #headerhome h2 {
    font-size: 1.5em !important;
    letter-spacing: 0em !important;
  }

  /* line 278, ../sass/screen.scss */
  #centerparagraph {
    font-size: 1.2em !important;
  }

  /* line 283, ../sass/screen.scss */
  #btndiscover {
    padding-top: 16px;
    font-size: 1.4em !important;
    background-image: url("../images/btnframemobile.png") !important;
    width: 202px !important;
    height: 45px !important;
  }

  /* line 292, ../sass/screen.scss */
  .corner {
    width: 7px;
    height: 7px;
  }

  /* line 298, ../sass/screen.scss */
  .frame {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  /* line 306, ../sass/screen.scss */
  .topleft {
    left: 5px;
    top: 5px;
  }

  /* line 312, ../sass/screen.scss */
  .topright {
    right: 5px;
    top: 5px;
  }

  /* line 318, ../sass/screen.scss */
  .bottomleft {
    bottom: 5px;
    left: 5px;
  }

  /* line 324, ../sass/screen.scss */
  .bottomright {
    right: 5px;
    bottom: 5px;
  }

  /* line 330, ../sass/screen.scss */
  #church, #tower {
    bottom: 15px !important;
  }
}
/* line 336, ../sass/screen.scss */
.pipe {
  width: 10px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: -30px;
  border-top: 5px solid #ABDDC4;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 5px solid #9FD0B8;
  z-index: 99;
}

@media screen and (max-height: 760px) {
  /* line 352, ../sass/screen.scss */
  #btndiscover {
    padding-bottom: 30px;
  }
}
/* line 358, ../sass/screen.scss */
#marker1, #marker2, #marker3, #marker4, #marker5, #marker6, #marker7, #marker8, #marker9, #marker10, #marker11, #marker12 {
  float: left;
  width: 25%;
  height: 33%;
  text-align: center;
}

/* line 366, ../sass/screen.scss */
#grid {
  position: absolute;
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 28px;
}
