<div class="corner topleft"></div>
<div class="corner topright"></div>
<div class="corner bottomleft"></div>
<div class="corner bottomright"></div>
<div id="frame"></div>

<header>
	<hgroup>
		<h1><span class="invisible">Zentrijk</span></h1>
	</hgroup>
</header>